body {
  background-color: rgb(46, 48, 71);
}
.header {
  padding: 30px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


a.white:link{
  color: white;
  background-color: transparent;
  font-family:candara,calibri,cambria;
  text-decoration: none;
}
a.white:visited{
  color: white;
  background-color: transparent;
  font-family:candara,calibri,cambria;
  text-decoration: none;
}
a.white:hover {
  color: grey;
  background-color: transparent;
  font-family:candara,calibri,cambria;
  text-decoration: underline;
}
div.title {
  text-indent: 10%;
}


