body {
  background-color: rgb(46, 48, 71);
}
.header {
  padding: 30px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}


a.white:link{
  color: white;
  background-color: transparent;
  font-family:corbel,candara,calibri,cambria;
  text-decoration: none;
  font-size: 22px;
}
a.white:visited{
  color: white;
  background-color: transparent;
  font-family:corbel,candara,calibri,cambria;
  text-decoration: none;
  font-size: 22px;
}
a.white:hover {
  color: grey;
  background-color: transparent;
  font-family:corbel,candara,calibri,cambria;
  text-decoration: underline;
  font-size: 22px;
}
div.title {
  text-indent: 10%;
}
span.a {
  display: inline-block;
  margin: 35px 10px 35px 15%;
  width: 425px;
  height: 350px;
  padding: 5px;
  border: 3px solid blue;    
  float:left;
}
span.b {
  display: inline-block;
  margin: 35px 15% 35px 10px;
  width: 425px;
  height: 350px;
  padding: 5px;
  border: 3px solid blue;    
  float:right
}


