.header {
  padding: 30px;
  text-align: center;
  background: rgb(23,23,23);
  color: white;
  font-size: 15px;
}

.hoverbutton {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}
.hoverbutton:hover, .hoverbutton:focus {
  background-color: #000000; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}

a.white:link{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a.white:visited{
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:white:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}



