body {
  background-color: rgb(46, 48, 71);
}
.header {
  padding: 30px;
  text-align: center;
  background: transparent;
  color: white;
  font-size: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


a.white:link{
  color: white;
  background-color: transparent;
  font-family:corbel,candara,calibri,cambria;
  text-decoration: none;
  font-size: 22px;
}
a.white:visited{
  color: white;
  background-color: transparent;
  font-family:corbel,candara,calibri,cambria;
  text-decoration: none;
  font-size: 22px;
}
a.white:hover {
  color: grey;
  background-color: transparent;
  font-family:corbel,candara,calibri,cambria;
  text-decoration: underline;
  font-size: 22px;
}
div.title {
  text-indent: 10%;
}
span.a {
  display: inline-block;
  margin: 35px 15%;
  width: 25%;
  height: 250px;
  padding: 35px;
  border: 3px solid blue;    
}


