#featured {
    display: none;
}

header {
    background: #3c3f58;
    width: calc(140%);
}

body {
    margin: 0;
    background-color: #2e3047;

}

main {
    font-family: 'Bebas Neue', cursive;
    color: white;
    width: 750px;
}

nav {
    float: center;
    display: inline-block;
}

#centering {
    margin-left: calc(20%);
}

nav ul {
    margin-top: -25px;
    padding: 0;
    list-style: none;
}

nav.img {
    display: inline;
    width: 25px;
    height: 25px;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 27px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
}

nav a:hover {
    color: #3bba9c;
}

#desc {
    padding: 10px;
}

#gallery {
    margin-left: calc(20%);
}

#gallery img {
    width: calc(75%);
    height: calc(10%);
}

#lateartic {
    display: none;
}

#ahh {
    display: block;
    padding: 20px;
    position: absolute;
}

#article img {
    height: 400px;
    width: 500px;

}

#article p {
    max-width: 1000px;
}

#article h1 {
    font-size: 35px;
}


#articname {
    text-align: left;
    display: inline-block;
}

#articdate {
    text-align: right;
    display: inline-block;
}
