#gallery img {
    width: calc(40%);
    height: calc(15%);
}

#rightfeat img {
    float: right;
    height: calc(30);
    width: calc(90%);
}

#featured {
    margin-top: 10px;

}

#leftfeat {
    float: left;
}

header {
    background: #3c3f58;
}

body {
    margin: 0;
    background-color: #2e3047;
}
