#featured {
    display: none;
}

header {
    background: #3c3f58;
}

body {
    margin: 0;
    background-color: #2e3047;
}

nav {
    float: center;
    display: inline-block;
}

#centering {
    float: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.img {
    display: inline;
    width: 25px;
    height: 25px;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 27px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
}

nav a:hover {
    color: #3bba9c;
}

#desc {
    padding: 10px;
}

#gallery {
    float: center;
}

#gallery img {
   /* width: calc(75%);
    height: calc(10%); */
}
