body {
    margin: 0;
    background-color: #2e3047;
}

p.basicp {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;
    margin: 35px 10%;
    font-size: 125%;
}


#ahh {
    display: block;
    padding: 20px;
    position: absolute;
}

/*Article Stuff*/
#article {
    margin-top: calc(0%);
    margin-left: calc(13%);
    float: left;
}

#article p {
    max-width: 875px;
}

#article h1 {
    font-size: 35px;
}


#articname {
    text-align: left;
    display: inline-block;
}

#articdate {
    text-align: right;
    display: inline-block;
}

#article img {

    height: 500px;
    width: 800px;
}

#lateartic {
    padding: 20px;
    float: right;
    border-left: 2px solid grey;
    display: block;

}

#imgdesc {
    padding: 2px;
}

#lateartic img {
    width: 290px;
    height: 200px;
}

.container {
    width: 94%;
    margin: auto;
    display: inline-block;
}


/* Main section */
main {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

#centering {
    margin-left: calc(6.5%);
}

/*#featured {
    display: inline-block;
}
*/

main h1 {
    display: inline;
}

/* gallery section */
#gallery {
    margin-left: 5%;
}

#gallery img {
   /* width: calc(100% +450px);
    height: calc(80%);*/


}


.latest {
    display: inline-block;
    margin-top: 2%;
    padding: 2%;
}

/* featured section */



#leftfeat {
    display: inline-block;
    margin-left: calc(20%);
    margin-top: calc(10%);
}

#leftfeat h1 {
    font-size: 2em;
}

#rightfeat {
    margin-left: calc(40%);
    margin-top: calc(-15%);
}

#rightfeat img {
    height: 460px;
    max-height: 493px;
    min-width: 700px;
    max-width: 750px;

}

header {
    background: #3c3f58;
}

.logo {
    padding: 10px;
    padding-left: 50px;
}

/*  Nav Section */
nav {
    float: right;
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.img {
    display: inline;
    width: 25px;
    height: 25px;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 27px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
}

nav a:hover {
    color: #3bba9c;
}
