body {
    margin: 0;
    background-color: #2e3047;
}

.container {
    width: 94%;
    margin: auto;
    display: inline-block;
}


/* Main section */
main {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

#centering {
    margin-left: calc(8%);
}

/*#featured {
    display: inline-block;
}
*/

main h1 {
    display: inline;
}

/* gallery section */
#gallery {
    margin-left: calc(7%);
}

#gallery img {
    min-height: 270px;
    max-height: 405px;
    min-width: 380px;
    max-width: 570px;


}

.latest {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
}

/* featured section */



#leftfeat {
    display: inline-block;
    margin-left: calc(20%);
    margin-top: calc(10%);
}

#leftfeat h1 {
    font-size: 2em;
}

#rightfeat {
    margin-left: calc(40%);
    margin-top: calc(-15%);
}

#rightfeat img {
    height: 460px;
    max-height: 493px;
    min-width: 700px;
    max-width: 750px;

}

header {
    background: #3c3f58;
}

.logo {
    padding: 10px;
    padding-left: 50px;
}

/*  Nav Section */
nav {
    float: right;
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.img {
    display: inline;
    width: 25px;
    height: 25px;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 27px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
}

nav a:hover {
    color: #3bba9c;
}
