form {
  border: 4px solid #43455C;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.walls {
  padding: 20px;
  background-color: #43455C;
}

input[type=submit] {
  background-color: #3BBA9C;
  color: white;
  border: none;
}
input[type=submit]:hover {
  opacity: 0.8;
}
h1 {
font-family:candara,calibri,cambria;color:white;
}
